

body {
    background-color: black;
    
    font-family: 'Unbounded', cursive;
}

h1 {
    color: white;
    
}

p {
    color: white;
}

.btn {
    border-radius: 50px;
}
h2 {
    color: white;
}

footer > p {
    color: white;
}

.container {
    height: 90vh;
    margin-top: 50px;
}

input {
    width: 300px;
}

.log-in {
    background-color: #8351e6;
    border: none;
}

.sign-up {
    background-color: #ed8d0e;
    border:none;
}

h3 {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.btn {
    width: 300px;
    height: 50px;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}

.slogan {
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

.profile-picture {
    width: 200px;
    height: 200px;
    border: solid 5px white;
    overflow: hidden;
}

.about-user {
    border: solid 5px white;
}

.user-icons {
   
    color:white;
font-size: 24px;
}

.bi-star-fill {
    color: #8351e6;
}

.bi-suit-heart-fill {
    color: #3bd16f;
}

.bi-trophy-fill {
    color: #ed8d0e;
}

.plus-minus {
    font-size: 24px;
}

.about-user {
    height: 200px;
}

.save{
    background-color: red;
    border:none;
    width: 200px;
}

.save:hover {
    background-color: darkred;
}

a {
    color: white;
}

.filters {
    width: 220px;
    height: 220px;
    border-radius: 50%;
}

.art {
    background-color: #3bd16f;
    font-size: 36px;
}

.artist {
    background-color:#8351e6;
    font-size: 36px;
}

.exhibition {
    background-color: #ed8d0e;
    font-size: 36px;
}

.city {
    background-color: blue;
    font-size: 36px;
}

div div i {
    color: white
}

div i {
    font-size: 24px;
}

.sell-art {
    color:#ed8d0e;
    font-size: 50px;
}

.sell-art:hover {
    opacity: 0.7;
}

.heart-icon {
    font-size: 50px;
}

.heart-icon:hover {
    opacity: 0.7;
}

.collabration {
    color:#8351e6;
    font-size: 50px;
}

.collabration:hover {
    opacity: 0.7;
}

.network {
    background-color: #3bd16f;
    border:none;
}

.data-report {
    background-color: #8351e6;
    border:none;
}

.members-only {
    background-color:#ed8d0e;
    border:none;
}