

body {
    background-color: black;
    
    font-family: 'Unbounded', cursive;
}

h1 {
    color: white;
    
}

p {
    color: white;
}

.btn {
    border-radius: 50px;
}
h2 {
    color: white;
}

footer > p {
    color: white;
}

.container {
    height: 90vh;
    margin-top: 50px;
}

input {
    width: 300px;
}

.log-in {
    background-color: #8351e6;
    border: none;
}

.sign-up {
    background-color: #ed8d0e;
    border:none;
}

h3 {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.btn {
    width: 300px;
    height: 50px;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}

.slogan {
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

.profile-picture {
    width: 200px;
    height: 200px;
    border: solid 5px white;
}

.about-user {
    border: solid 5px white;
}

.user-icons {
   
    color:white;
font-size: 48px;
}

.bi-suit-heart-fill {
    color: #3bd16f;
}

.bi-trophy-fill {
    color: #ed8d0e;
}

.plus-minus {
    font-size: 24px;
}

.about-user {
    height: 200px;
}

.save{
    background-color: red;
    border:none;
    width: 200px;
}

.save:hover {
    background-color: darkred;
}

a {
    color: white;
}

.filters {
    width: 220px;
    height: 220px;
    border-radius: 50%;
}

.art {
    background-color: #3bd16f;
    font-size: 36px;
}

.artist {
    background-color:#8351e6;
    font-size: 36px;
}

.exhibition {
    background-color: #ed8d0e;
    font-size: 36px;
}

.city {
    background-color: blue;
    font-size: 36px;
}

.description{
    color: white;
    border: solid 5px white;
    border-radius: 15px;
}

.gallery-image {
    height: 180px;
    border-radius: 15px;
}

.gallery-name {
    font-size: 18px;
}

.other-info {
    font-size: 13px;
}

.heart {
    color: white;
    font-size: 40px;
}

.heart:hover {
    color:#3bd16f;
}

.stars {
    color:#8351e6;
}

.rating {
    color: white;
    font-size: 18px;
}

.rating i:hover {
    color:#8351e6
}

.go-visit {
    background-color: #8351e6;
    border: none;
}

.meet-me {
    background-color: #ed8d0e;
    border:none;
}

.buy-art {
    background-color: #3bd16f;
    border: none;
}

.gallery-content{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: red;
    border: none;
}

.dots {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
}

.dots-invisible {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
}

.arrow-invisible {
    color:transparent;
}

.row {
    color: white;
    font-size: 36px;
    font-weight:  700;
}

.green-color {
    background-color:#3bd16f;
}

.violet-color {
    background-color:#8351e6
}

.start-now {
    background-color: red;
    border: none;
}

div i {
    font-weight: 800;
    font-size: 50px;
}

.search-city {
    background-color: #3bd16f;
}

.blue-color {
    background-color: blue;
}

.orange-color {
    background-color: #ed8d0e;
}

.red-color {
    background-color: red;
}

.detailed-info {
    background-color: black;
    color:white;
    font-size: 24px;
}